# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.sym
*.dis
*.ihex
*.vcd
*.gtkw

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Python temps
**/__pycache__

# Project build directories
proj/*/build

# SoC build directories
soc/csr.csv
soc/build
soc/prog

# proj/my_first_cfu is part of our docs walkthrough
proj/my_first_cfu

# cfu.v, if present, must be added explicitly
proj/*/cfu.v

build
csr.csv

# VSCode files
*.code-workspace
.vscode/*
.env

# Renode setup
third_party/renode

# Robot test results
log.html
report.html
results-*robot.xml
robot_output.xml
*fail.save

# These Project Oxide related things should not be added
third_party/.cargo
third_party/nextpnr
third_party/prjoxide
third_party/usr/local
third_party/yosys

# Environment
env
