[submodule "soc/deps/migen"]
	path = third_party/python/migen
	url = https://github.com/m-labs/migen.git
[submodule "soc/deps/litex"]
	path = third_party/python/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "soc/deps/litedram"]
	path = third_party/python/litedram
	url = https://github.com/enjoy-digital/litedram.git
[submodule "soc/deps/litex_boards"]
	path = third_party/python/litex_boards
	url = https://github.com/litex-hub/litex-boards.git
[submodule "soc/deps/liteeth"]
	path = third_party/python/liteeth
	url = https://github.com/enjoy-digital/liteeth.git
[submodule "soc/deps/liteiclink"]
	path = third_party/python/liteiclink
	url = https://github.com/enjoy-digital/liteiclink.git
[submodule "soc/deps/pyserial"]
	path = third_party/python/pyserial
	url = https://github.com/pyserial/pyserial.git
[submodule "soc/deps/pythondata_software_compiler_rt"]
	path = third_party/python/pythondata_software_compiler_rt
	url = https://github.com/litex-hub/pythondata-software-compiler_rt.git
[submodule "soc/deps/pythondata_cpu_vexriscv"]
	path = third_party/python/pythondata_cpu_vexriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv.git
[submodule "third_party/python/pyvcd"]
	path = third_party/python/pyvcd
	url = https://github.com/SanDisk-Open-Source/pyvcd.git
[submodule "third_party/python/litescope"]
	path = third_party/python/litescope
	url = https://github.com/enjoy-digital/litescope.git
[submodule "third_party/python/pythondata-misc-tapcfg"]
	path = third_party/python/pythondata-misc-tapcfg
	url = https://github.com/litex-hub/pythondata-misc-tapcfg.git
[submodule "third_party/python/jinja"]
	path = third_party/python/jinja
	url = https://github.com/pallets/jinja.git
[submodule "third_party/python/markupsafe"]
	path = third_party/python/markupsafe
	url = https://github.com/pallets/markupsafe.git
[submodule "third_party/python/litespi"]
	path = third_party/python/litespi
	url = https://github.com/litex-hub/litespi.git
[submodule "third_party/python/litehyperbus"]
	path = third_party/python/litehyperbus
	url = https://github.com/litex-hub/litehyperbus.git
[submodule "third_party/python/litepcie"]
	path = third_party/python/litepcie
	url = https://github.com/enjoy-digital/litepcie.git
[submodule "third_party/python/litevideo"]
	path = third_party/python/litevideo
	url = https://github.com/enjoy-digital/litevideo.git
[submodule "third_party/make-env"]
	path = third_party/make-env
	url = https://github.com/SymbiFlow/make-env.git
[submodule "third_party/python/pythondata-software-picolibc"]
	path = third_party/python/pythondata-software-picolibc
	url = https://github.com/litex-hub/pythondata-software-picolibc
[submodule "third_party/python/meson"]
	path = third_party/python/meson
	url = https://github.com/mesonbuild/meson
[submodule "third_party/python/amaranth"]
	path = third_party/python/amaranth
	url = https://github.com/amaranth-lang/amaranth
[submodule "third_party/python/valentyusb"]
	path = third_party/python/valentyusb
	url = https://github.com/litex-hub/valentyusb
	branch = hw_cdc_eptri
[submodule "third_party/python/vizier"]
	path = third_party/python/vizier
	url = https://github.com/ShvetankPrakash/vizier.git
[submodule "soc/deps/pythondata_cpu_serv"]
	path = third_party/python/pythondata_cpu_serv
	url = https://github.com/litex-hub/pythondata-cpu-serv.git
