#ifndef {{ model_name_upper }}_H
#define {{ model_name_upper }}_H

#ifdef __cplusplus
extern "C" {
#endif

// For integration into menu system
void {{ model_name }}_menu();

#ifdef __cplusplus
}
#endif

#endif  // {{ model_name_upper }}_H

