name: cfu-common
channels:
  - defaults
  - litex-hub
dependencies:
  - litex-hub::gcc-riscv32-elf-newlib
  - litex-hub::dfu-util
  - litex-hub::flterm
  - litex-hub::openocd
  - litex-hub::verilator
  - litex-hub::nextpnr-nexus
  - litex-hub::nextpnr-ecp5
  - litex-hub::nextpnr-ice40
  - litex-hub::iceprog
  - litex-hub::yosys
  - litex-hub::symbiflow-yosys-plugins
  - python=3.7
  - pip
  - pip:
    - -r ./requirements.txt
