simplejson
termcolor
tqdm
yapf==0.24.0
requests
meson
Pillow
intervaltree
junit-xml
numpy
openpyxl
ordered-set
parse
progressbar2
pyjson5
pytest
pyyaml
scipy>=1.2.1
sympy
textx
python-constraint
fasm
matplotlib
git+https://github.com/SymbiFlow/prjxray.git@e25c20a8f158cc5e94eb62e3b74e16fc9d6c1d26#egg=prjxray
git+https://github.com/symbiflow/xc-fasm.git@14afc2bae24cbf6ee5e7d057a58b4cbd776358d0#egg=xc-fasm
